// .highcharts-chart {
//   border-radius: 3% !important;
// }

// .highcharts-plot-background {
//   background-color: black;

// }

.btn-download {
  font-size: 0.75em;
  background-color: #FFA600;
  width: max-content;
}

.btn-excel {
  font-size: 0.75em;
  margin-left: -1.125em;
}
.chart-list{
  margin-left: -5%;
 z-index: 1;
}
.name{
  font-size: 0.8em;
}
