<ng-container>
  <google-map height="400px" width="auto" [center]="center" [zoom]="zoom">
    <map-marker [options]="markerOptions"></map-marker>
    <map-marker
      #mapmarker="mapMarker"
      *ngFor="let m of markers; let i = index"
      [options]="m"
      (mapMouseover)="openInfo(mapmarker, i)"
    ></map-marker>
    <map-circle [center]="circleCenter" [radius]="radius" class="circle">
    </map-circle>
    <map-info-window>
      <span class="p-0 m-0">{{ name }} {{ count }}</span>
      <p class="p-0 m-0">{{ city }} {{ distance }}</p>
    </map-info-window>
    <map-circle [center]="circleCenter" [radius]="radius" class="circle">
    </map-circle>
    <map-info-window>{{ markerOptions }}</map-info-window>
  </google-map>
</ng-container>
